<div class="row">
  <div class="col-xs-6 col-lg-4">
        <h3>Project: <%= @event.category %></h3>
      <h4>Challenge Title: <%= @event.title %></h4>
      <p>Repo Link: <a href="<%=@event.repo_link%>"><%=@event.repo_link%></a></p>
    <p>Earliest Start: <%= @event.earliest_start.strftime("%b %d, %Y") %></p>
    <p>Latest Start: <%= @event.latest_start.strftime("%b %d, %Y") %></p>
    <p>Desired Pairing Style: <%= @event.desired_style %></p>
    <p>Host: <%= @event.host.name %></p>
    <p>Guest: <%= @event.guest.try(:name) %></p>
    <p>Notes: <%= @event.notes %></p> 
  </div>
  
  <div class="col-xs-6 col-lg-4">
    <% if @event.guest == current_user %>
      <h4>Host Email Address: <%= @event.host.email %> </h4>
      <%= form_tag("/cancel/#{@event.id}", method: "post") do %>
        <%= submit_tag "Cancel Pairing", class: "btn btn-danger"%>
      <% end %>
    <% elsif @event.host == current_user %>
      <%= link_to "Edit Event", edit_exercism_path(@event) %>
    <% else %>
      <%= form_tag("/reserve/#{@event.id}", method: "post") do %>
        <%= submit_tag "Pair with #{@event.host.name.split.first}", class: "btn btn-success"%>
      <% end %>
    <% end %> 
  </div>

  <div class="col-xs-6 col-lg-4">
    <h3>Host Schedule: </h3><p><% @user.availability_to_array.each do |day| %></p>
            <p><%= day %></p>
      <% end %>
  </div>
</div>

Tags:<br>
<% @event.tags.each do |tag| %>
  <%= tag.name %><br>
<% end %>

<div id="tags">
</div>
<!-- replace with javascript -->

<h4>Comments:</h4>
<% @event.comments.each do |comment| %>
  <p>
    <strong><%=comment.user.name %>:</strong>
    <%= comment.content %> 
  </p>
  <p><%= time_ago_in_words(comment.created_at) %> ago</p>
<% end %>

<%= render partial: "comments/form", locals: {comment: @comment, event: @event} %>
<%=raw tag_links(@event.all_tags)%>