<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :slack %>
  <%= f.text_field :slack %><br>

  <%= f.label :github %>
  <%= f.text_field :github %><br>

  <%= f.label :twitter %>
  <%= f.text_field :twitter %><br>

  <%= f.label :website %>
  <%= f.text_field :website %><br>

  <%= f.label :bio %>
  <%= f.text_field :bio %><br>

  <%= f.label :application %>
  <%= f.text_field :application %><br>

  <%= f.label :availability %><br>
  <%= f.text_area :availability, :cols => 30, :rows => 4 %><br>
  <p>Availability should be comma separated.  Ex: M 5AM-12PM, T 4PM-7PM</p>

  
  
  <%= f.submit %>

<% end %>


