<p>Email: <%= @user.email %></p>
<p>Slack: <%= @user.slack %></p>
<p>Availability: <% @user.availability_to_array.each do |day| %></p>
  <p><%= day %></p>
<% end %>
<p>Preferred Screensharing Application: <%= @user.application %></p>

<%= link_to "Edit Profile", edit_user_path(@user) %>