<p>Email: <%= @user.email %></p>
<p>Slack: <%= @user.slack %></p>
<p>Github: <%= @user.github %></p>
<p>Twitter: <%= @user.twitter %></p>
<p>website: <%= @user.website %></p>
<p>Bio: <%= @user.bio %></p>
<p>Availability: <%= @user.availability %></p>
<p>Preferred Screensharing Application<%= @user.application %></p>

