<div>

  <div class="form-group required">
  <%= f.label :category, class: "control-label" %>
  <%= f.collection_select :category, Event::CATEGORIES, :to_s, :to_s %></br>

  <%= f.label :event_type, class: "control-label" %>
  <%= f.collection_select :event_type, Event::EVENT_TYPE, :to_s, :to_s %></br> 

  <%= f.label :earliest_start, class: "control-label" %>
  <%= f.date_field :earliest_start %><br>

  <%= f.label :latest_start, class: "control-label" %>
  <%= f.date_field :latest_start %><br>
  </div>

  <%= f.label :notes %>
  <%= f.text_field :notes %><br>

  <%= f.label :desired_style %>
  <%= f.text_field :desired_style %><br>

  <%= f.submit %>
<% end %>
</div>
