<% if event.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(event.errors.count, "error") %>.
    </div>
    <ul>
    <% event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(event) do |f| %>
  <%= f.label :title, class: "col-md-2 control-label" %>
  <%= f.text_field :title %><br>

  <div class="form-group required">
  <%= f.label :category, class: "col-md-2 control-label" %>
  <%= f.collection_select :category, Event::CATEGORIES, :to_s, :to_s %></br>

  <%= f.label :event_type, class: "col-md-2 control-label" %>
  <%= f.collection_select :event_type, Event::EVENT_TYPE, :to_s, :to_s %></br> 

  <%= f.label :earliest_start, class: "col-md-2 control-label" %>
  <%= f.date_field :earliest_start %><br>

  <%= f.label :latest_start, class: "col-md-2 control-label" %>
  <%= f.date_field :latest_start %><br>
  </div>


  <%= f.label :notes, class: "col-md-2 control-label" %>
  <%= f.text_field :notes %><br>

  <%= f.label :desired_style, class: "col-md-2 control-label" %>
  <%= f.text_field :desired_style %><br>

  <%= f.label :repo_link, class: "col-md-2 control-label" %>
  <%= f.text_field :repo_link %>

  <%= fields_for :host do |builder| %>
    <%= builder.label :slack %>
    <%= builder.text_field :slack %>
  <% end %>

  <%= f.submit %>
<% end %>
adding the class col-md-2 messed up the format of form